body, html {
	margin:0px;
	padding:0px;
	font-family:"Cambria";
}

#navigation {
	height:40px;
	background:#2E2E2E;
}

#navigation ul {
	margin:0px;
	padding:10px;
	list-style:none;
}

#navigation li {
	margin-right:10px;
	display:inline;
	float:left;
}

#navigation li a {
	color:#fff;
	text-decoration:none;
}

#navigation li a:hover {
	text-decoration:underline;
}

#wrapper {
	width:1000px;
	margin-top:20px;
	margin-right:auto;
	margin-left:auto;
}

#header {
  /* nothing yet */
}

#content {
	padding:5px;
	background-color:#fff;
}

#content p {
  margin:0px 0px 0px 0px;
}

#leftContent {
	width:500px;
	float:left;
}

#rightContent {
	width:420px;
	float:right;
}

#rightContent img {
	padding:5px;
}

.tabbed ul {
	padding:0px;
	margin:0px;
}

.tabbed li {
	margin-right:10px;
	display:inline;
}