body, html{
	margin:0;
	padding:0;
}

#navigation{
	height:32px;
	background:orange;

}

#navigation ul {
	margin:0px;
	padding:8px;
	list-style:none;
}

#navigation li {
	display:inline;
	float:left;
	margin-right:16px;

}

#navigation li a {
	color:#fff;
	text-decoration:none;
}

#navigation li a:hover {
	text-decoration:underline;
}

#wrapper {
	width:850px
}

#header {
  /* nothing yet */
}

#content {
	padding-left:50px;
}

#content p {
  margin:0px 0px 0px 0px;
}

#leftContent {
	width:70%;
	float:left;
}

#rightContent {
  /* nothing here */
}

.tabbed ul {
	padding:0px;
	margin:0px;
}
.tabbed li {
	display:inline;
	margin-right:32px;
}